-- Add event_highlights table for storing event highlights
CREATE TABLE IF NOT EXISTS event_highlights (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  event_id UUID REFERENCES event_content(id) ON DELETE CASCADE,
  content TEXT NOT NULL,
  order INTEGER DEFAULT 0,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create index for better performance
CREATE INDEX IF NOT EXISTS idx_event_highlights_event_id ON event_highlights(event_id);

-- Enable RLS
ALTER TABLE event_highlights ENABLE ROW LEVEL SECURITY;

-- Create policy for service role access
CREATE POLICY \
Service
role
can
access
event_highlights\ ON event_highlights
  FOR ALL USING (true) WITH CHECK (true);

-- Create trigger for automatic updated_at updates
CREATE TRIGGER update_event_highlights_updated_at 
  BEFORE UPDATE ON event_highlights 
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
